<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__logo-menu js-logo-menu">
                <div class="page-header__logo-menu-dropdown">
                    <div class="page-header__logo-menu-dropdown-inner">
                        <a href="#" class="page-header__logo-menu-dropdown-link">
                            Пункт 1
                        </a>
                        <a href="#" class="page-header__logo-menu-dropdown-link">
                            Пункт 2
                        </a>
                        <a href="#" class="page-header__logo-menu-dropdown-link">
                            Пункт 3
                        </a>
                    </div>
                </div>
                <a href="index.html" class="page-header__logo">
                    <svg width="14" height="14" aria-hidden="true" class="icon-logo">
                        <use xlink:href="#logo"></use>
                    </svg>
                </a>
                <button class="page-header__logo-menu-burger" type="button">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

            </div>
            <div class="page-header__actions">
                <a href="#" class="page-header__actions-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-star">
                        <use xlink:href="#star"></use>
                    </svg>
                </a>
                <a href="#" class="page-header__actions-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-stats">
                        <use xlink:href="#stats"></use>
                    </svg>
                </a>
                <a href="#" class="page-header__actions-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-message">
                        <use xlink:href="#message"></use>
                    </svg>
                </a>
            </div>
            <div class="page-header__user">
                <a href="#" class="page-header__username">
                    Анатолий
                    <svg width="14" height="14" aria-hidden="true" class="icon-dots">
                        <use xlink:href="#dots"></use>
                    </svg>
                </a>
            </div>
            <div class="page-header__search">
                <form action="/" method="GET" class="page-header__search-form">
                    <input type="search" class="page-header__search-form-input">
                    <button class="page-header__search-submit" type="submit">
                        <svg width="14" height="14" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </button>
                </form>
            </div>

        </div>
    </div>
</header>