<div class="mobile-bottom-menu">
    <div class="container">
        <div class="mobile-bottom-menu__row">
            <a href="#" class="mobile-bottom-menu__link">
                <svg width="14" height="14" aria-hidden="true" class="icon-star">
                    <use xlink:href="#star"></use>
                </svg>
            </a>
            <a href="#" class="mobile-bottom-menu__link">
                <svg width="14" height="14" aria-hidden="true" class="icon-stats">
                    <use xlink:href="#stats"></use>
                </svg>
            </a>
            <a href="#" class="mobile-bottom-menu__link">
                <svg width="14" height="14" aria-hidden="true" class="icon-message">
                    <use xlink:href="#message"></use>
                </svg>
                <div class="mobile-bottom-menu__link-notifications">
2
                </div>
            </a>
            <a href="#" class="mobile-bottom-menu__link">
                <svg width="14" height="14" aria-hidden="true" class="icon-message">
                    <use xlink:href="#person"></use>
                </svg>
            </a>
        </div>
    </div>
</div>