<div class="modal js-modal" id="callback-modal">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <form action="/" method="POST" class="modal__form" data-need-validation="" id="callback-modal-form">
            <h3 class="modal__form-title">
                Менеджер франшизы Чио-Чио свяжется с вами
            </h3>
            <div class="modal__form-fields">
                <div class="modal__form-field">
                    <input type="tel" class="modal__form-input js-phone-input" required placeholder="Телефон">
                </div>
                <div class="modal__form-field">
                    <textarea name="comment" class="modal__form-input" placeholder="Комментарий"></textarea>
                </div>
                <div class="modal__form-field">
                    <label class="modal__form-checkbox">
                        <input type="checkbox" name="policy" class="modal__form-checkbox-input" checked required>
                        <span class="modal__form-checkbox-mark">
                            <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        <span class="modal__form-checkbox-text">
                            Согласие на обработку <a href="#">
                                персональных данных
                            </a>
                        </span>
                    </label>
                </div>
            </div>
            <button class="modal__form-submit" type="submit">
                Войти
            </button>
        </form>
    </div>
</div>
<div class="modal js-modal" id="callback-modal-success">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <form action="/" method="POST" class="modal__form" data-need-validation="">
            <h3 class="modal__form-title">
                Менеджер франшизы Чио-Чио свяжется с вами в ближайшее время!
            </h3>

        </form>
    </div>
</div>

<div class="modal js-modal" id="poll-modal">
    <div class="modal__inner modal__inner--poll">
        <button class="modal__close js-close-modal">
            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <h2 class="account__block-heading">
            Анкета
        </h2>
        <form action="/" method="POST" class="account__poll-form" data-need-validation="">
            <label class="account__block-field account__block-field--centered">
                <div class="account__block-field-name">
                    Чем занимаетесь
                </div>
                <div class="account__block-select account__block-select--not-required">
                    <select name="type" class="js-custom-select">
                        <option value="1">Бизнесмен (мелкий, средний бизнес)</option>
                        <option value="2">Отдыхаю</option>
                    </select>
                </div>
            </label>
            <label class="account__block-field account__block-field--centered">
                <div class="account__block-field-name">
                    Сферы работы 3 последние сферы
                </div>
                <div class="account__block-multiselect">
                    <select name="type" class="js-multiple-select" multiple="">
                        <option value="1">Медицина</option>
                        <option value="2">Образование</option>
                        <option value="3">Финансы</option>
                        <option value="4">Туризм</option>
                    </select>
                </div>
            </label>
            <label class="account__block-field account__block-field--centered">
                <div class="account__block-field-name">
                    Планируете вложить в открытие
                </div>
                <div class="account__block-select account__block-select--not-required">
                    <select name="type" class="js-custom-select">
                        <option value="1">до 500 000 руб.</option>
                        <option value="2">до 300 000 руб.</option>
                    </select>
                </div>
            </label>
            <label class="account__block-field account__block-field--centered">
                <div class="account__block-field-name">
                    Понимаете что такое франшиза?
                </div>
                <div class="account__block-select account__block-select--not-required">
                    <select name="type" class="js-custom-select">
                        <option value="1">Да</option>
                        <option value="2">Нет</option>
                    </select>
                </div>
            </label>

            <label class="account__block-field">
                <div class="account__block-field-name">
                    Что решит покупка франшизы
                </div>
                <div class="account__block-select">

                    <textarea name="comment" class="account__block-input"
                        placeholder="Опишите какие ваши проблемы закроет покупка франшизы"></textarea>
                </div>
            </label>
            <label class="account__block-field">
                <div class="account__block-field-name">
                    О себе
                </div>
                <div class="account__block-select">

                    <textarea name="comment" class="account__block-input"
                        placeholder="Опишите свой опыт, компетенции или любую другую информацию, полезную для других пользователей"></textarea>
                </div>
            </label>

            <button class="account__submit account__poll-submit" type="submit">
                Сохранить
            </button>
        </form>


    </div>
</div>