{{#extend "layout"}}
{{#content "main"}}




<section class="account">
    <div class="account__nav">
        <div class="container">
            <div class="account__nav-row">
                <div class="account__nav-links">
                    <a href="#" class="account__nav-link active">
                        мой профиль
                    </a>
                    <a href="#" class="account__nav-link">
                        мои франшизы
                    </a>
                    <a href="#" class="account__nav-link">
                        чат
                        <span class="account__nav-link-notifications">
                            <span class="account__nav-link-notifications-text">
                                3
                            </span>

                        </span>
                    </a>
                    <a href="#" class="account__nav-link">
                        уведомления
                        <span class="account__nav-link-notifications">

                            <span class="account__nav-link-notifications-text">
                                4
                            </span>
                        </span>
                    </a>
                    <a href="#" class="account__nav-link">
                        документы
                    </a>
                    <a href="#" class="account__nav-link">
                        настройки
                    </a>
                </div>

                <a href="#" class="account__logout-link">
                    выйти
                </a>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="inner-container">
            <div class="account__info">
                <h1 class="account__heading">
                    Мой профиль
                </h1>
                <div class="account__row">
                    <form method="POST" action="/" class="account__data-form" data-need-validation="">
                        <div class="account__block">
                            <h2 class="account__block-heading">
                                персональные данные
                            </h2>
                            <label class="account__block-field">
                                <div class="account__block-field-name">
                                    Название компании
                                </div>
                                <div class="account__block-input-wrapper">
                                    <input type="text" class="account__block-input" name="company-name" required>
                                </div>
                            </label>
                            <label class="account__block-field">
                                <div class="account__block-field-name">
                                    ФИО
                                </div>
                                <div class="account__block-input-wrapper">
                                    <input type="text" name="name" class="account__block-input" required>
                                </div>
                            </label>
                            <label class="account__block-field">
                                <div class="account__block-field-name">
                                    Город
                                </div>
                                <div class="account__block-select">
                                    <select name="city" class="js-custom-select">
                                        <option value="Казань">Казань</option>
                                        <option value="Москва">Москва</option>
                                    </select>
                                </div>
                            </label>
                            <label class="account__block-field">
                                <div class="account__block-field-name">
                                    Дата рождения
                                </div>
                                <div class="account__block-input-wrapper" id="picker-container">
                                    <input type="tel"
                                        class="account__block-input account__block-input--date js-datepicker" required
                                        readonly>
                                </div>
                            </label>
                            <label class="account__block-field">
                                <div class="account__block-field-name">
                                    О компании
                                </div>
                                <div class="account__block-select">

                                    <textarea name="comment" class="account__block-input"></textarea>
                                </div>
                            </label>
                        </div>
                        <div class="account__block">
                            <h2 class="account__block-heading">
                                Данные аккаунта
                            </h2>
                            <label class="account__block-field">
                                <div class="account__block-field-name">
                                    Телефон
                                </div>
                                <div class="account__block-input-wrapper">
                                    <input type="tel" class="account__block-input js-phone-input" name="phone"
                                        data-parsley-phone="">
                                </div>
                            </label>
                            <label class="account__block-field">
                                <div class="account__block-field-name">
                                    E-mail
                                </div>
                                <div class="account__block-input-wrapper">
                                    <input type="email" class="account__block-input" name="email" required>
                                </div>
                            </label>
                            <label class="account__block-field">
                                <div class="account__block-field-name">
                                    Пароль
                                </div>
                                <div class="account__block-input-wrapper">
                                    <input type="password" class="account__block-input" name="password" required>
                                </div>
                            </label>
                            <label class="account__block-field">
                                <div class="account__block-field-name">
                                    Повторите пароль
                                </div>
                                <div class="account__block-input-wrapper">
                                    <input type="password" class="account__block-input" name="password-confirmation"
                                        required>
                                </div>
                            </label>
                        </div>
                        <div class="account__legend">
                            — Обязательные поля для заполнения
                        </div>

                        <div class="account__controls">
                            <label class="account__checkbox">
                                <input type="checkbox" name="policy" checked class="account__checkbox-input">
                                <span class="account__checkbox-mark">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="account__checkbox-text">
                                    Согласие на обработку <a href="#">
                                        персональных данных
                                    </a>
                                </span>
                            </label>

                            <button class="account__submit" type="submit">
                                Сохранить
                            </button>
                        </div>
                    </form>
                    <form method="POST" action="/" class="account__inn-form" data-need-validation="">
                        <div class="account__block">
                            <h2 class="account__block-heading">
                                ИНН
                            </h2>
                            <div class="account__block-inn-input-wrapper">
                                <input type="tel"
                                    class="account__block-input account__block-input--inn js-numeric-input" name="inn"
                                    required>
                                <div class="account__block-inn-details">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-info">
                                        <use xlink:href="#info"></use>
                                    </svg>
                                    <div class="account__block-inn-details-dropdown">
                                        <div class="account__block-inn-details-dropdown-inner">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex culpa ut magnam
                                            nobis, quibusdam aperiam.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="account__block-inn-text">
                                <p>
                                    Для получения доступа ко всем функциям личного кабинета небходимо пройти верификацию
                                    ИНН
                                </p>
                            </div>
                            <button class="account__block-inn-submit" type="submit">
                                Пройти верификацию
                            </button>
                            {{!-- <button class="account__block-inn-submit account__block-inn-submit--pending" type="submit" disabled>
                                В процессе проверки
                                <svg width="14" height="14" aria-hidden="true" class="icon-clock">
                                    <use xlink:href="#clock"></use>
                                </svg>
                            </button>
                            <button class="account__block-inn-submit account__block-inn-submit--declined" type="submit" disabled>
                                Отклонен
                                <svg width="14" height="14" aria-hidden="true" class="icon-declined">
                                    <use xlink:href="#declined"></use>
                                </svg>
                            </button>
                            <button class="account__block-inn-submit account__block-inn-submit--accepted" type="submit" disabled>
                                Подтверждено
                                <svg width="14" height="14" aria-hidden="true" class="icon-success">
                                    <use xlink:href="#success"></use>
                                </svg>
                            </button>
                            <div class="account__block-remark">
                                <p>
                                    Не удалось подтвердить данные о компании, свяжитесь со <a href="#">службой поддержки </a>
                                </p>
                            </div>
                            <a href="#" class="account__block-inn-change">
                                Изменить ИНН
                            </a> --}}
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="add-franchise">
    <div class="container">
        <div class="inner-container">
            <div class="add-franchise__row">
                <div class="add-franchise__col">
                    <h2 class="add-franchise__heading">
                        Добавьте франшизу
                    </h2>
                    <div class="add-franchise__text">
                        <p>
                            Для получения доступа ко всем функциям личного кабинета небходимо пройти верификацию ИНН
                        </p>
                    </div>
                    <a href="#" class="add-franchise__link">
                        Добавить франшизу
                    </a>
                </div>
                <div class="add-franchise__col">
                    <img src="img/add-franchise.svg" alt="" class="add-franchise__image">
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}