{{#extend "layout"}}
{{#content "main"}}

<section class="registration">
    <div class="container">
        <div class="registration__content">
            <div class="inner-container">
                <div class="registration__login">
                    <a href="#" class="registration__back-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-classic-arrow-left">
                            <use xlink:href="#classic-arrow-left"></use>
                        </svg>
                    </a>
                    <h1 class="registration__login-heading">
                        Забыли пароль?
                    </h1>
                    <form action="/" method="POST" class="registration__login-form">
                        <div class="registration__login-form-input-wrapper">
                            <input type="text" class="registration__login-form-input" placeholder="E-mail или телефон"
                                required>
                        </div>

                        <button type="submit" class="registration__login-form-submit">

                            Восстановить
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>



{{/content}}
{{/extend}}