{{#extend "layout"}}
{{#content "main"}}


<section class="registration">
    <div class="container">
        <div class="registration__content">
            <div class="inner-container">
                <div class="registration__login">
                    <h1 class="registration__login-heading">
                        Вход в Delowill
                    </h1>
                    <form action="/" method="POST" class="registration__login-form">
                        <div class="registration__login-form-input-wrapper">
                            <input type="text" class="registration__login-form-input" placeholder="E-mail или телефон"
                                required>
                        </div>
                        <div class="registration__login-form-input-wrapper">
                            <input type="password" class="registration__login-form-input" placeholder="Пароль" required>
                        </div>
                        <a href="#" class="registration__login-form-remember">
                            Забыли пароль?
                        </a>
                        <button type="submit" class="registration__login-form-submit">

                            Войти
                        </button>
                    </form>
                    <div class="registration__social">
                        <h3 class="registration__social-heading">
                            или через соцсети
                        </h3>
                        <div class="registration__social-links">
                            <a href="#" class="registration__social-link" style="background-color: #4497CF;">
                                <svg width="14" height="14" aria-hidden="true" class="icon-fb">
                                    <use xlink:href="#fb"></use>
                                </svg>
                                Facebook
                            </a>
                            <a href="#" class="registration__social-link" style="background-color: #689DF6;">
                                <svg width="14" height="14" aria-hidden="true" class="icon-google">
                                    <use xlink:href="#google"></use>
                                </svg>
                                Google
                            </a>
                            <a href="#" class="registration__social-link" style="background-color: #749AC6;">
                                <svg width="14" height="14" aria-hidden="true" class="icon-vk">
                                    <use xlink:href="#vk"></use>
                                </svg>
                                Вконтакте
                            </a>
                        </div>

                    </div>
                    <div class="registration__no-account">
                        Нет аккаунта? <a href="#">
                            Зарегистрироваться
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{{/content}}
{{/extend}}