{{#extend "layout"}}
{{#content "main"}}


<section class="register-select">
    <div class="container">
        <div class="register-select__content">
            <div class="inner-container">
                <div class="register-select__row">
                    <div class="register-select__col">
                        <div class="register-select__card">
                            <img src="img/register-select-1.svg" alt="" class="register-select__card-icon">
                            <div class="register-select__card-content">


                                <h3 class="register-select__card-heading">
                                    Пользователь сервиса
                                </h3>
                                <div class="register-select__card-text">
                                    <p>
                                        Зарегистрируйтесь и получите полный доступ к сервису Delowill:
                                    </p>
                                </div>
                                <ul class="register-select__card-list">
                                    <li class="register-select__card-list-item">
                                        Более 1000 франшиз в одном месте
                                    </li>
                                    <li class="register-select__card-list-item">
                                        Мы знаем всё о франшиза
                                    </li>
                                    <li class="register-select__card-list-item">
                                        Агрегатор честных франшиз
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="register-select__card-link">
                                Регистрация
                            </a>
                            <div class="register-select__card-link-remark">
                                Это займет 2 минуты
                            </div>
                        </div>
                    </div>
                    <div class="register-select__col">
                        <div class="register-select__card">
                            <img src="img/register-select-2.svg" alt="" class="register-select__card-icon">
                            <div class="register-select__card-content">


                                <h3 class="register-select__card-heading">
                                    Управляющая компания
                                </h3>
                                <div class="register-select__card-text">
                                    <p>
                                        Зарегистрируйтесь и получите полный доступ к сервису Delowill:
                                    </p>
                                </div>
                                <ul class="register-select__card-list">
                                    <li class="register-select__card-list-item">
                                        Размещение франшиз на сервисе
                                    </li>
                                    <li class="register-select__card-list-item">
                                        Статистика по вашим франшизам
                                    </li>
                                    <li class="register-select__card-list-item">
                                        Интеграция с Amo CRM
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="register-select__card-link">
                                Регистрация
                            </a>
                            <div class="register-select__card-link-remark">
                                Это займет 2 минуты
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



{{/content}}
{{/extend}}