@font-face {
    font-family: 'Gotham Pro Narrow';
    src: url('../assets/fonts/GothamProNarrow-Medium.woff2') format('woff2'), url('../assets/fonts/GothamProNarrow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham Pro Narrow';
    src: url('../assets/fonts/GothamProNarrow-Bold.woff2') format('woff2'), url('../assets/fonts/GothamProNarrow-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
