.format {
}

.format__row {
    display: grid;
    grid-column-gap: 8rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 48rem);

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 4rem;
    }
}

.format__categories {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    flex-wrap: wrap;
    margin-top: -1rem;
    @include breakpoint(mobile) {
        margin-top: -0.6rem;
        margin-bottom: 3rem;
    }
}

.format__specs-heading {
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 3.2rem;
    letter-spacing: -0.04rem;
    margin-bottom: 3.5rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
}

.format__specs-table {
    border-top: 1px solid #e4e6f9;
    
    padding: 3.8rem 0;

    @include breakpoint(mobile) {
        border-top: 0.3rem solid #e4e6f9;
        
        padding: 2.5rem 0;
    }

    table {
        display: block;

        th,
        td,
        thead,
        tbody,
        tr {
            display: block;
        }

        tr {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-gap: 2.5rem;
            margin-bottom: 2.5rem;

            @include breakpoint(mobile) {
                grid-gap: .5rem;
                margin-bottom: 2rem;
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
            &:last-child {
                margin-bottom: 0;
            }
        }

        th,
        td {
            font-size: 1.8rem;
            line-height: 1.2;

            @include breakpoint(mobile) {
                font-size: 1.6rem;
                
            }
        }

        th {
            color: #A0A7B2;
            @include breakpoint(mobile) {
                color: var(--primary-color);
                font-weight: 500;
            }
        }

        td {
            font-weight: 700;

            @include breakpoint(mobile) {
                font-weight: 400;
            }
        }
    }
}

.format__categories-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: var(--gotham);
    margin-right: 1rem;
    margin-top: 1rem;
    transition: border-color 0.2s, background-color 0.2s, color 0.2s;
    padding: 1.3rem 2.2rem;
    border: 1px solid #a0a7b2;
    border-radius: 0.4rem;
    color: var(--text-color);

    @include breakpoint(mobile) {
        margin-top: 0.6rem;
        margin-right: 0.6rem;
        font-size: 1.4rem;
        line-height: 1.2;
        padding: 1.2rem 1.6rem;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }

    .no-touch &:not(.active):hover,
    .touch &:not(.active):active {
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
    &.active {
        border-color: var(--primary-color);
        background-color: var(--primary-color);
        color: white;
        &:link,
        &:visited {
            color: white;
        }
    }
    &:last-child {
        margin-right: 0;
    }
}

.format__row {
}

.format__slider {
    position: relative;
    
}

.format__slider-card {
    position: relative;
    color: white;
    &::before {
        content: '';
        display: block;
        padding-bottom: 75%;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(9, 13, 54, 6.5e-5) 22.59%, rgba(9, 13, 54, 0.65) 73.54%);
    }
}

.format__slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.format__slider-buttons {
    position: absolute;
    display: flex;
    align-items: center;
    right: 2rem;
    bottom: 2rem;
    z-index: 50;

    @include breakpoint(mobile) {
        bottom: 1.5rem;
        right: 2.5rem;
    }
}

.format__slider-button {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 0.8rem;
    background-color: #fff;
    transition: background-color 0.2s, color 0.2s, opacity 0.2s;
    svg {
        width: 0.6rem;
        height: 1rem;
        fill: black;
        transition: fill 0.2s;
    }
    &:last-child {
        margin-right: 0;
    }

    &.swiper-button-disabled {
        opacity: 0.5;
        cursor: default;
    }

    .no-touch &:not(.swiper-button-disabled):hover,
    .touch &:not(.swiper-button-disabled):active {
        background-color: var(--primary-color);

        svg {
            fill: white;
        }
    }
}

.format__slider-tabs,
.format__specs-tabs {
    position: relative;
}

.format__specs-tab,
.format__slider-tab {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    &.active {
        position: relative;
        z-index: 1;
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.format__slider {
    position: relative;
}

.format__slider-card-name {
    position: absolute;
    left: 4rem;
    z-index: 10;
    bottom: 2.5rem;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;

    @include breakpoint(mobile) {
        left: 2.5rem;
        bottom: 2rem;
    }
}

.format__slider-block {
    background: #e4e6f9;
    border-radius: 1.2rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    @include breakpoint(mobile) {
        margin: -2.5rem;
        margin-top: 0;
        background: transparent;
    }
}

.format__info {
    padding: 3.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 3.5rem;

    @include breakpoint(mobile) {
        padding: 2.5rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 2rem;
    }
}

.format__info-block {
    

    @include breakpointMF(small-tablet) {
        &:first-child {
            grid-column: span 2;
        }
    }
}

.format__info-block-key {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 400;
    margin-bottom: .7rem;
}

.format__info-block-value {
    font-weight: 500;
    font-size: 1.9rem;
    line-height: 1.2;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
    }
}
