.format {
}

.format__categories {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.format__categories-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: var(--gotham);
    margin-right: 1.3rem;
    transition: border-color 0.2s, background-color 0.2s, color 0.2s;
    padding: 1.3rem 2.2rem;
    border: 1px solid #a0a7b2;
    border-radius: 0.4rem;
    color: var(--text-color);

    @include breakpoint(mobile) {
        margin-bottom: 0.6rem;
        margin-right: 0.6rem;
        font-size: 1.4rem;
        line-height: 1.2;
        padding: 1.2rem 1.6rem;
    }
    &:link,
    &:visited {
        color: var(--text-color);
    }

    .no-touch &:not(.active):hover,
    .touch &:not(.active):active {
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
    &.active {
        border-color: var(--primary-color);
        background-color: var(--primary-color);
        color: white;
        &:link,
        &:visited {
            color: white;
        }
    }
    &:last-child {
        margin-right: 0;
    }
}

.format__row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 7rem;
    margin-bottom: 3rem;
    align-items: center;

    @include breakpoint(mobile) {
        grid-gap: 3.5rem;
        grid-template-columns: minmax(0, 1fr);
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.format__slider {
    position: relative;
    .swiper-container {
        border-radius: 1.2rem;
        backface-visibility: hidden;
        transform: translateZ(0);
    }
}

.format__slider-card {
    position: relative;
    color: white;
    &::before {
        content: '';
        display: block;
        padding-bottom: 65%;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(9, 13, 54, 6.5e-5) 22.59%, rgba(9, 13, 54, 0.65) 73.54%);
    }
}

.format__slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.format__slider-card-name {
    position: absolute;
    left: 3rem;
    right: 3rem;
    bottom: 2rem;
    font-size: 1.6rem;
    line-height: 2rem;
    z-index: 20;

    @include breakpoint(mobile) {
        left: 2rem;
        right: 2rem;
    }
}

.format__slider-buttons {
    position: absolute;
    display: flex;
    align-items: center;
    right: 2rem;
    bottom: 2rem;
    z-index: 50;

    @include breakpoint(mobile) {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}

.format__slider-button {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 0.8rem;
    background-color: #fff;
    transition: background-color 0.2s, color 0.2s, opacity 0.2s;
    svg {
        width: 0.6rem;
        height: 1rem;
        fill: black;
        transition: fill 0.2s;
    }
    &:last-child {
        margin-right: 0;
    }

    &.swiper-button-disabled {
        opacity: 0.5;
        cursor: default;
    }

    .no-touch &:not(.swiper-button-disabled):hover,
    .touch &:not(.swiper-button-disabled):active {
        background-color: var(--primary-color);

        svg {
            fill: white;
        }
    }
}

.format__info-heading {
    font-weight: bold;
    font-size: 3.4rem;
    line-height: 4rem;
    letter-spacing: -0.04rem;
    margin-bottom: 3.5rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
}

.format__info-table {
    table {
        display: block;

        thead,
        tbody {
            display: block;
        }

        tr {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-gap: 1rem;
            margin-bottom: 1.3rem;
            &:last-child {
                margin-bottom: 0;
            }
            @include breakpoint(mobile) {
                grid-template-columns: minmax(0, 1fr);
                grid-gap: 0.5rem;
                margin-bottom: 2rem;
            }
        }

        th,
        td {
            text-align: left;
            font-size: 1.4rem;
            line-height: 1.6rem;
            @include breakpoint(mobile) {
                font-size: 1.6rem;
                line-height: 1.2;
            }
        }

        th {
            color: #a0a7b2;
            @include breakpoint(mobile) {
                font-size: 1.4rem;
            }
        }

        td {
            color: black;
            font-weight: 500;
            @include breakpoint(mobile) {
            }
        }
    }
}

.format__stat {
    display: flex;
    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2rem;
    }
}

.format__stat-item {
    margin-right: 2rem;
    &:last-child {
        margin-right: 0;
    }
}

.format__stat-key {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #a0a7b2;
    margin-bottom: 1rem;
    font-weight: 400;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.2;
        margin-bottom: 0.5rem;
    }
}

.format__stat-value {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.format__tabs {
    position: relative;
}

.format__tab {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    &.active {
        position: relative;
        z-index: 1;
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}
