.franchise-block {
    margin: 3.6rem 0;
    &:last-child {
        margin-bottom: 8rem;
    }
}

.franchise-block__content {
    background: #ffffff;
    border-radius: 1.2rem;
    color: var(--text-color);
    padding: 6rem 2rem;
}