.franchise-info {
    background-color: #fff;
    color: var(--text-color);
   
}

.franchise-info__content {
    padding: 6rem 0;
}

.franchise-info__heading {
    font-weight: bold;
    font-size: 4.6rem;
    line-height: 5.6rem;
    margin-bottom: 4rem;
}

.franchise-info__calculation {
    margin-bottom: 3.5rem;
}

.franchise-info__calculation-top-row {
    display: flex;
    align-items: flex-start;
    padding: 2.2rem 3.2rem;
    background-color: #e2e5ff;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    background-image: url('../img/delowill.svg');
    background-repeat: no-repeat;
    background-size: auto 8.2rem;
    background-position: right bottom;
}

.franchise-info__calculation-bottom-row {
    display: flex;
    svg {
        width: 1.6rem;
        height: 1.6rem;
        flex-shrink: 0;
        fill: white;
        margin: 0 3rem;
        margin-bottom: 0.7rem;
    }
}

.franchise-info__calculation-stage {
    padding: 1.8rem 3.2rem;
    color: white;
    display: flex;
    align-items: flex-end;

    &:nth-child(1) {
        background: #b1a5f8;
        clip-path: polygon(0 0, calc(100% - 2rem) 0, 100% 50%, calc(100% - 2rem) 100%, 0 100%);
        position: relative;
        z-index: 1;
        width: 40rem;
        flex-grow: 1;
        margin-right: -2rem;
    }

    &:nth-child(2) {
        background: #8373ef;
        clip-path: polygon(0 0, calc(100% - 2rem) 0, 100% 50%, calc(100% - 2rem) 100%, 0 100%);
        width: 50rem;
        flex-grow: 1;
        margin-right: -2rem;
        padding-left: 4rem;
    }

    &:nth-child(3) {
        background: #6251dd;
        width: 28rem;
        flex-grow: 1;
        padding-left: 4rem;
    }
}

.franchise-info__about {
    margin-bottom: 4.5rem;
}

.franchise-info__about-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
}

.franchise-info__about-list-item {
    display: flex;
    flex-direction: column;
}

.franchise-info__about-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #e5e7ff;
    border-radius: 1.2rem;
    padding: 3rem;
}

.franchise-info__about-card-title {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.franchise-info__about-card-content {
    font-size: 1.4rem;
    line-height: 2.2rem;
    p {
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
        li {
            position: relative;
            margin-bottom: 1rem;

            &::before {
                content: '';
                position: absolute;
                right: 100%;
                top: 0.9rem;
                width: 0.4rem;
                height: 0.4rem;
                border-radius: 50%;
                background-color: #000;
                margin-right: 1rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    table {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.8rem;
        th,
        td {
            text-align: left;
            padding-bottom: 1.3rem;
        }

        td {
            font-weight: 500;
        }
    }
}

.franchise-info__differences {
    margin-bottom: 5rem;
}

.franchise-info__differences-heading,
.franchise-info__audience-heading {
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 3.2rem;
    letter-spacing: -0.04rem;
    margin-bottom: 2.8rem;
}
.franchise-info__calculation-stage-key {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.franchise-info__calculation-stage-value {
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 3.2rem;
    letter-spacing: -0.04rem;
}
.franchise-info__audience-tags {
    display: flex;
    flex-wrap: wrap;
}
.franchise-info__audience-tag {
    flex-shrink: 0;
    white-space: nowrap;
    padding: 0.8rem 1.6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #e5e7ff;
    border-radius: 0.4rem;
    text-align: center;
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
    transition: background-color 0.2s, color 0.2s;
    &:last-child {
        margin-right: 0;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: var(--primary-color);
        color: white;
    }
}

.franchise-info__calculation-block {
    margin-right: 7rem;
    &:last-child {
        margin-right: 0;
    }
}

.franchise-info__calculation-block-heading {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 400;
    margin-bottom: 0.8rem;
}

.franchise-info__calculation-block-text {
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 3.2rem;
    letter-spacing: -0.04rem;
}

.franchise-info__detailed-analysis {
    font-weight: bold;
    font-size: 4.6rem;
    line-height: 5.6rem;
    color: white;
    background: url('../img/purple-blur.svg'),  url('../img/delowill-light.svg'), linear-gradient(96.16deg, #7c88ff -34.71%, #4659ff 118.45%);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center bottom, center bottom, center;
    background-size: auto 90%, auto 9.2rem, cover;
    display: block;
    padding: 4.5rem 0;
    &:link,
    &:visited {
        color: white;
    }
}
