.intro {
    position: relative;
    z-index: 1;
    background-color: var(--primary-color);
    color: white;
}

.intro__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(9, 13, 54, 0.55), rgba(9, 13, 54, 0.55));
    }
}

.intro__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro__content {
    min-height: 80rem;
    padding-top: 13rem;
    padding-bottom: 11rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        min-height: calc(100vh - 8rem);
        min-height: 30rem;
        padding: 8rem 0;
        
    }
}

.intro__top-row {
    display: flex;
}

.intro__left-col {
    flex-shrink: 0;
    margin-right: auto;
    text-align: left;
}

.intro__right-col {
    text-align: right;
}

.intro__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.intro__tag {
    font-size: 1.4rem;
    line-height: 1.6rem;
    display: inline-block;
    padding: 1rem 2rem;
    background: rgba(9, 13, 54, 0.5);
    border-radius: 0.4rem;
    color: white;
    clip-path: polygon(0 0, calc(100% - 1.2rem) 0, 100% 50%, calc(100% - 1.2rem) 100%, 0 100%);
    transition: background-color 0.2s, color 0.2s;
    &:link,
    &:visited {
        color: white;
    }

    // .no-touch &:hover,
    // .touch &:active {
    //     background-color: var(--primary-color);
    //     color: white;
    // }
}

.intro__updated-at {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #a0a7b2;
}

.intro__controls {
    display: flex;
    align-items: center;
}

.intro__controls-btn {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1.8rem;
    color: transparent;
    &:link,
    &:visited {
        color: transparent;
    }
    &:last-child {
        margin-right: 0;
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: white;
        transition: fill 0.2s;
    }

    &:hover {
        svg {
            fill: var(--primary-color);
        }
    }
}

.intro__franchise-info {
    margin: 0 auto;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__franchise-logo {
    width: 18rem;
    height: auto;

    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        width: 14rem;
    }
}

.intro__franchise-heading {
    font-weight: bold;
    font-size: 4.6rem;
    line-height: 5.6rem;
    margin-bottom: 0.8rem;

    @include breakpoint(mobile) {
        font-size: 3.2rem;
        line-height: 1.2;
    }
}

.intro__franchise-description {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 8rem;
    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
}

.intro__franchise-buttons {
    display: grid;
    width: 100%;
    max-width: 55rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1.8rem;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.intro__franchise-buttons-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.intro__franchise-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
    border-radius: 0.4rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: var(--gotham);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    transition: all 0.2s;
    width: 100%;
    &:link,
    &:visited {
        color: white;
    }

    &--filled {
        background: #39b833;
        border-color: #39b833;
        color: white;
        &:link,
        &:visited {
            color: white;
        }
    }

    &:not(.intro__franchise-button--filled).active {
        .intro__franchise-button-icon {
            color: white;
        }
    }

    .no-touch &:not(.intro__franchise-button--filled):hover,
    .touch &:not(.intro__franchise-button--filled):active {
        .intro__franchise-button-icon {
            color: white;
        }
    }
}

.intro__franchise-button-icon {
    margin-left: 1.4rem;
    flex-shrink: 0;
    color: transparent;
    transition: color 0.2s;
    width: 2.4rem;
    height: 2.4rem;
    svg {
        width: 100%;
        height: 100%;
        display: block;
        fill: white;
    }
}

.intro__franchise-button-details {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-top: 1.5rem;
    color: #f0f0f0;
    @include breakpoint(mobile) {
        display: none;
    }
}
