.need-to-know {
}

.need-to-know__content {
}

.need-to-know__block {
    margin-bottom: 6.5rem;
    @include breakpoint(mobile) {
        margin-bottom: 5.5rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.need-to-know__block-heading {
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 3.2rem;
    
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
}

.need-to-know__block-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
    @include breakpoint(mobile) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-gap: 2rem;
    }
}

.need-to-know__block-list-item {
    display: flex;
    flex-direction: column;
}

.need-to-know__block-card {
    border-radius: 1.2rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: linear-gradient(96.16deg, rgba(240, 240, 240, 0.42) -34.71%, rgba(198, 207, 222, 0.42) 118.45%);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.need-to-know__block-card-key {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.need-to-know__block-card-value {
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #a0a7b2;
    max-width: 24rem;
}


.need-to-know__block-card-image {
    position: absolute;
    width: 12rem;
    height: auto;
    right: -3rem;
    bottom: -3rem;
    z-index: -1;
}