.page-footer {
    background-color: #fff;
    color: var(--text-color);
    border-top: 1px solid #E0E6F5;
}

.page-footer__row {
    display: flex;
    align-items: center;
    min-height: 9rem;

    @include breakpoint(mobile) {
        min-height: auto;
        flex-direction: column;
        align-items: initial;
        padding: 3rem 0;
    }
}

.page-footer__nav {
    display: flex;
    align-items: center;
    margin-right: 10rem;

    @include breakpoint(small-tablet) {
        margin-right: 5rem;
        flex-direction: column;
        align-items: initial;
        margin-bottom: 4rem;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 2rem;
    }
}

.page-footer__nav-link {
    flex-shrink: 0;
    margin-right: 3.5rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
    transition: color 0.2s;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        margin: 0;
    }
    &:last-child {
        margin-right: 0;
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
}

.page-footer__social-list {
    display: flex;
    align-items: center;
    margin-right: 4rem;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        margin: 0;
        margin-bottom: 4rem;
    }
}

.page-footer__social-list-item {
    margin-right: 2.2rem;
    &:last-child {
        margin-right: 0;
    }
}

.page-footer__social-link {
    margin-right: 2.2rem;
    flex-shrink: 0;
    &:last-child {
        margin-right: 0;
    }
    svg {
        width: 2.2rem;
        height: 2.2rem;
        display: block;
        fill: var(--primary-color);
        transition: fill .2s;
    }

   
}

.page-footer__copyright {
    font-size: 1.4rem;
    line-height: 2.7rem;
    color: #a0a7b2;
    margin-right: 1.3rem;
    margin-left: auto;

    @include breakpoint(small-tablet) {
        display: none;
    }

    @include breakpoint(mobile) {
        display: block;
        margin: 0;
        order: 8;
        margin-bottom: 2rem;
    }
}

.page-footer__policy {
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 2.3rem;
    margin-right: 9rem;
    @include breakpoint(small-tablet) {
        margin-left: auto;
    }

    @include breakpoint(mobile) {
        margin: 0;
        margin-bottom: 2rem;
    }
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    .no-touch &:hover,
    .touch &:active {
        .page-footer__policy-text {
            border-color: transparent;
        }
    }
}

.page-footer__policy-text {
    border-bottom: 1px solid currentColor;
    transition: border-color 0.2s;
}

.page-footer__made-by {
    flex-shrink: 0;

    margin-top: 1rem;

    @include breakpoint(mobile) {
        margin: 0;
        order: 15;
    }
    img {
        display: block;
        width: 8.8rem;
        height: auto;
    }
}
