.save-franchise__content {
    background: linear-gradient(96.16deg, #7c88ff -34.71%, #4659ff 118.45%);
    border-radius: 1.2rem;
    color: white;
    padding: 6rem 2rem;
}

.save-franchise__row {
    display: flex;
    align-items: center;
}

.save-franchise__heading {
    width: 50%;
    flex-grow: 1;
    font-weight: bold;
    font-size: 3.4rem;
    line-height: 4rem;
    letter-spacing: -0.04rem;
    a {
        border-bottom: 1px solid currentColor;
        transition: color .2s, border-color .2s;
        &:hover {
            border-color: transparent;
        }
    }
}

.save-franchise__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2.2rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--primary-color);
    background-color: white;
    border-radius: 0.4rem;

   

    &:link,
    &:visited {
        color: var(--primary-color);
    }


    .no-touch &:hover,
    .touch &:active {
        .save-franchise__btn-star {
            color: var(--primary-color);
        }
    }
}

.save-franchise__btn-star {
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;
    color: white;
    transition: color 0.2s;
    margin-left: 1.4rem;

    svg {
        fill: var(--primary-color);
        width: 100%;
        height: 100%;
        display: block;
    }

 
}
