.section-heading {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #a0a7b2;
    margin-bottom: 6rem;
    @include breakpoint(mobile) {
        margin-bottom: 3rem;
        font-size: 1.4rem;
        line-height: 1.3;
    }
}
