.why-best__content {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.why-best__image {

    @include breakpoint(mobile) {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    

    @include breakpointMF(small-tablet) {
        position: absolute;
        z-index: -1;
        width: 125rem;
        height: auto;
        top: -6rem;
        right: -48rem;
    
    
        .why-best--reversed & {
            right: auto;
            top: auto;
            left: -48rem;
            top: -48rem;
        }
    }
}

.why-best__row {
    display: flex;

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.why-best__col {
    

    @include breakpointMF(small-tablet) {
        max-width: 64rem;

        .why-best--reversed & {
            margin-left: auto;
            max-width: 50rem;
        }
    }
}

.why-best__heading {
    font-weight: bold;
    font-size: 4.6rem;
    line-height: 5.6rem;
    margin-bottom: 6.5rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
   
}

.why-best__list-item {
    margin-bottom: 3.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 2.5rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.why-best__card {
    padding-left: 3.6rem;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 34rem;

    @include breakpoint(mobile) {
        max-width: none;
        padding-left: 2rem;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: .55rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #5061FF;

        @include breakpoint(mobile) {
            width: 1rem;
            height: 1rem;
            top: .7rem;
        }
    }

    &--violet {
        &::before {
            background-color: #8373EF;
        }
    }
}

.why-best__card-title {
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 3.2rem;
    letter-spacing: -0.04rem;
    margin-bottom: 0.8rem;
    color: #5061FF;

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 1.2;
    }

    .why-best__card--violet & {
        color: #8373EF;
    }

}

.why-best__card-text {
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #727272;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}
